<h1>New Training Center</h1>



<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-7 col-sm-offset-2">
    <div class="panel panel-primary" >
      <div class="panel-heading">
        <div class="panel-title">New Course Type</div>
      </div>

      <div style="padding-top:30px" class="panel-body" >

        <%= render 'form', training_center: @training_center %>

        <%= link_to 'Back', training_centers_path,class:'btn btn-default' %>

      </div>
    </div>
  </div>
</div>
</div>
</div>