<p id="notice"><%= notice %></p>

<p>
  <strong>Course type:</strong>
  <%= @course_type.course_type %>
</p>

<%= link_to 'Edit', edit_course_type_path(@course_type), class:'btn btn-default btn-xs' %> |
<%= link_to 'Back', course_types_path, class:'btn btn-default btn-xs' %>