<h1 class="page-header">Welcome! </h1>

<br>

<!--<li> -->
  <!--If statement to check if a profile exists for the candidate, if not it goes to new. -->
 <!-- % if Candidate.exists?(email: current_user.email) then %>-->
      <!-- %= link_to 'Profile', profile_edit_path(Candidate.where(email: current_user.email).first)%> -->
  <!-- %else%> -->
      <!-- %= link_to 'Profile', new_candidate_path%> -->
  <!-- %end%> -->
<!--</li> -->



<p><%= link_to 'Click To Begin Application', new_application_form_path,class:'btn btn-default' %></p>
<p><%= link_to 'Appointment',new_application_form_path,class:'btn btn-default' %></p>

<!--Avi: change the 'appointment' link like example 'new_application_form_path', for now for button to show-->






