<h1>Main Page - Candidate View</h1>

<br>

<li><%= link_to 'Profile', new_candidate_path%></li>
<li> <%= link_to 'Application', new_application_form_path%> </li>
<li> <%= link_to 'Appointment', candidate_new_appointment_path%></li>
