<h1>New Faculty</h1>

<!--<div class="pull-right">-->
  <!--<div style="padding-right: 8px; padding-top: 4px; ">-->
    <!--<#%= link_to 'Cancel', @faculty, class:'btn btn-danger' %>-->

  <!--</div>-->

<%= render 'form', faculty: @faculty %>


