<h1>Editing Alignment Type</h1>

<%= render 'form', alignment_type: @alignment_type %>

<%= link_to 'Show', @alignment_type, class:'btn btn-default btn-xs' %> |
<%= link_to 'Back', alignment_type_path, class:'btn btn-default btn-xs' %>
