<h1>Editing Candidate</h1>

<%= render 'form', candidate: @candidate %>

<%= link_to 'View Profile', @candidate %> |

<%if user_signed_in? and current_user.system_admin? then%>
    <%= link_to 'Back', candidates_path, class:'btn btn-default btn-S'  %>
<%end%>

<%if user_signed_in? and current_user.candidate? then%>
    <%= link_to 'Back', profile_show_path, class:'btn btn-default btn-S'  %>
<%end%>
