<p id="notice"><%= notice %></p>

<p>
  <strong>Experience description:</strong>
  <%= @experience.experience_description %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
