<div id="wrapper">
  <!-- /.navbar-header -->


  <!-- /.navbar-top-links -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">

      <%if user_signed_in? and current_user.system_admin? then%>
          <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
          <li><%= link_to 'Candidate by Ranged Appointments', candidate_created_appointments_by_date_path%></li>
          <li><%= link_to'Charts', report_candidates_by_allignment_type_path %> </li>


      <%end%>
    </ul>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</div>


<div id="page-wrapper">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading"> Candidates by Alignment Type </div>

        <%
          sql_statement =  "SELECT alignment_types.alignment_type as an, count(*) "\
                    "FROM alignment_types "\
                    "JOIN candidates ON alignment_types.id = candidates.alignment_type_id GROUP BY an"

          results = ActiveRecord::Base.connection.execute(sql_statement)
        %>
        <%= pie_chart results%>


      </div>
    </div>
  </div>
</div>