<div id="wrapper">
<%results = CourseType.joins(:application_forms).group('course_type').count %>
  <%= column_chart results %>

<br>

<div id="page-wrapper">
  <div class="row">
   <div class="col-md-10">
    <div class="panel panel-default">
     <div class="panel-heading"> Candidates by Course </div>


<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
        <tr>
          <th> First name </th>
          <th> Last name </th>
          <th> Course </th>
        </tr>

        </thead>
        <tbody>
        <% @application_forms.each do |application_form| %>
        <tr>
              <td><%= application_form.candidate&.first_name %></td>
              <td><%= application_form.candidate&.last_name %></td>
              <td><%= application_form.course_type&.course_type %></td>
            </tr>
        <% end %>
        </table>

      </tbody>
    </div>
  </div>
</div>

</div>

   </div>
  </div>
</div>
</div>