<div class="wrapper-container">

<h3>Candidates by Alignment Type</h3>

<%= pie_chart @results%>

</div>
<br>
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6 col-md-offset-3 ">-->
        <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
          <!--</div>-->
          <!--<div class="panel-body">-->
          <!--</div>-->
          <!--<table class="table table-hover" id="dev-table">-->

    <!--<tr>-->

<main class="container pt-5">
  <div class="card mb-5">
    <div class="card-block p-0">
      <table class="table table-bordered table-sm m-0">
        <thead class="">
        <tr>
    <th> First name </th>
    <th> Last name </th>
    <th> Alignment type </th>
    </tr>

  <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.alignment_type&.alignment_type %></td>
    </tr>
  <% end %>


  <div class="card-footer p-0">
    <nav aria-label="...">
      <ul class="pagination justify-content-end mt-3 mr-3">
        <li class="page-item disabled">
          <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
                            <span class="page-link">2<span class="sr-only">(current)</span>
                            </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
    </div>
  </div>


  <!---->
                      <!--</table>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
    <!--</div>-->


