<div class="wrapper-container">

<h3>Candidates by Alignment Type</h3>

<%= pie_chart @results%>

</div>
<br>
<main class="container pt-5">
  <div class="card mb-5">
    <div class="panel panel-primary">
      <div class="card-block p-0">
      <table class="table table-bordered table-sm m-0">
        <thead class="">


        <tr>
    <th> First name </th>
    <th> Last name </th>
    <th> Alignment type </th>
    </tr>

        </thead>
        <tbody>
  <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.alignment_type&.alignment_type %></td>
    </tr>
  <% end %>
  </table>

        </tbody>
      </div>
    </div>
  </div>
</main>


