<div class="wrapper-container">
 <body>
<div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6' name='start'>
                <input type='text' class="form-control" id="start_value"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7' name='end'>
                <input type='text' class="form-control" id="end_value" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
  <div class="col-xs-5 col-xs-offset-3">
    <button type="button" class="btn btn-default" id="find_between_button">Apply</button>
  </div>
</div>
</form>

    <h1>Report</h1>
    <table class="table table-hover" id="report_display_table">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Course Type </th>
        <th>Interviewer Name  </th>
        <th>Date</th>
        <th>Start </th>
        <th>End </th>

        <th colspan="3"></th>
      </tr>
      </thead>



    </table>

 </body>
  </div>