<div class="wrapper-container">

  <div class="container">
  <div class='col-md-5'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker6'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
      </div>
    </div>
  </div>
  <div class='col-md-5'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker7'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
      </div>
    </div>
  </div>
</div>


<h1>Report</h1>
<table class="table table-hover">

  <thead>
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Course Type </th>
  <th>Interviewer Name  </th>
  <th>Date applied </th>
  <th colspan="3"></th>
  </tr>
  </thead>





</table>
</div>