<div class="wrapper-container">

  <!-- Include Required Prerequisites -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

  <button type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  </button>

<h1>Report</h1>
<table class="table table-hover">

  <thead>
  <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Course Type </th>
  <th>Interviewer Name  </th>
  <th>Date applied </th>
  <th colspan="3"></th>
  </tr>
  </thead>





</table>
</div>
</div>
