<tr>
  <td><%=user.email%></td>
  <td><%=user.role%></td>


  <td><%= link_to 'Change Role', admin_user_edit_path(user), method: :get, class:'btn btn-default btn-xs'%></td>


  <%if user_signed_in? and user.email != current_user.email then%>
      <td><%= link_to 'Delete', admin_user_delete_path(user), method: :delete, class:'btn btn-default btn-xs', data: {confirm: 'This will permanently delete an account. Are you sure?'}%></td>
  <%end%>


</tr>

