<p id="notice"><%= notice %></p>

<p>
  <strong>Job title:</strong>
  <%= @faculty_type.job_title %>
</p>

<%= link_to 'Edit', edit_faculty_type_path(@faculty_type) %> |
<%= link_to 'Back', faculty_types_path %>
