<%=hidden_field(:application_form_id, value: @application_form.id)%>
<div id="booking_calendar"></div>

<input type="hidden" name="application_form_id" id="application_form_id" value="<%=@application_form.id%>" />
