


<div class="container">
<div class="page-header">
<h1>Faculty Schedule <%= link_to 'Calendar View', faculty_calendar_schedule_path, class:'btn btn-primary ' %></h1>



</div>
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
<table class='table table-hover table-striped '>
  <thead>
  <tr>
    <th>Faculty Name</th>
    <th>Start Time</th>
    <th>End Time</th>

    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @timeslots.each do |timeslot| %>
      <tr>
        <td><%= Faculty.find(timeslot.faculty_id)&.full_name%></td>
        <td><%= timeslot.start %></td>
        <td><%= timeslot.end %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>
</div>
    </div>
  </div>
</div>
